header(class="h600")
    div(class="navi")
        div(class="container")
            div(class="d-flex justify-between text_white")
                div(class="logo_text") 
                    a(href="http://localhost:3000/") Chaewoong Han
                nav 
                    ul(id="gnb" class="d-flex gap-1 upper")
                        li 
                            a(href="/") home
                        li 
                            a(href="/about") about
                        li 
                            a(href="/portfolio") portfolio 
                        li 
                            a(href="/contact") contact
    div(class="container text_white text-center")     
        p(class="slogan_title") 스마트 uxui 디자이너
        p(class="slogan_text") 지망생 한채웅 입니다.