doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webdesigner Mr.Woong site
    body 
    header 
        div(class="container")
            div(class="logo_text") Chaewoong Han 
            nav 
                ul(id="gnb")
                    li 
                        a(href="/") home
                    li 
                        a(href="/about") about
                    li 
                        a(href="/portfolio") portfolio 
                    li 
                        a(href="/contact") contact
    main 
        article 
            p 자기소개 페이지 입니다.
    footer
        hr
        p copyright&copy; woong. 2023 all rights reserved.