doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webdesigner Mr.Woong site
        include includes/comm_style.pug
    body 
    include includes/comm_header.pug
    h1(class="d-none") contact
    main
        hgroup(class="text-center py-2")
            h2(class="caps") contact &amp; request 
            h3 작업요청 및 문의 
        article
            h2(class="d-none") main - contact
            div(class="container")
                form(id="request_form", action="/contactAdd", method="post")
                    legend(class="d-none") 요청 폼
                    fieldset
                        ul(class="form_rists") 
                            li(class="d-flex gap-2")
                                label(for="") 구분
                                    apan(class="red") *
                                div(class="d-flex gap-1")
                                    div
                                        input(type="radio", name="type" checked)/ 작업
                                    div
                                        input(type="radio", name="type2")/ 문의
                            li(class="d-flex gap-2")
                                label(for="") 이름
                                    apan(class="red") *
                                div(class="d-flex gap-2")
                                    input(type="text", name="name", required)/
                                    span(class="tip") (예)홍길동
                            li(class="d-flex gap-2")
                                label(for="") 연락처
                                    apan(class="red") *
                                div(class="d-flex gap-2")
                                    input(type="text", name="phone", required)/
                                    span(class="tip") ※연락처 입력시 -는 입력하지 않습니다
                            li(class="d-flex gap-2")
                                label(for="") 이메일
                                    apan(class="red") *
                                div(class="d-flex gap-2")
                                    input(type="text", name="email" required)/
                                    span(class="tip") (예) zxcv123@naver.com
                            li(class="d-flex gap-2")
                                label(for="") 제목
                                    apan(class="red") *
                                div(class="d-flex gap-2")
                                    input(type="text", name="title", required)/
                                    span(class="tip") (예) 디자인 의뢰 입니다.
                            li(class="d-flex gap-2")
                                label(for="") 내용
                                    apan(class="red") *
                                div(class="d-flex gap-2")
                                    textarea(rows="10", name="memo" cols="40")
                                    span(class="tip") (예) 안녕하세요, 작업요청 드립니다 
                                                        br
                                                        | 기한은 일주일 이고요, (가칭) 한울에듀 홈페이지
                                                        | 홈페이지 메인 및 서브 10p에 대한 화면설계
                                                        | 및 디자인 작업 입니다.
                                                        br
                                                        | 가능하실까요?
                            li(class="d-flex gap-2 justify-center")
                                input(class="btn btn-active", type="submit", value="등록")
                                input(class="btn", type="reset", value="취소")
    include includes/comm_footer.pug