doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webdesigner Mr.Woong site
        include includes/comm_style.pug
    body 
    include includes/comm_header.pug
    h1(class="d-none") contact
    main
        hgroup(class="text-center py-2")
            h2(class="caps") contact &amp; request 
            h3 작업요청 및 문의 
        article
            h1(class="d-none") main - contact
            
    include includes/comm_footer.pug