doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webdesigner Mr.Woong site
        include includes/comm_style.pug
    body 
        include includes/comm_header.pug
    main 
        article 
            p 메인 처음 홈페이지 입니다
        include includes/comm_footer.pug