@charset "utf-8";
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

a, a:link {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

form, fieldset {
    border: 0
}

input {
    outline: none;
}